{% load i18n %}
{% blocktrans %}Здравствуйте, {{ user.username }}!{% endblocktrans %}

{% blocktrans %}Вы получили это письмо, потому что был(-а) запрошен сброс пароля для вашей учётной записи на {{ site_name }}.{% endblocktrans %}

{% blocktrans %}Перейдите по ссылке ниже, чтобы сбросить пароль:{% endblocktrans %}

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% blocktrans %}Если вы не запрашивали сброс пароля, просто проигнорируйте это сообщение.{% endblocktrans %}
